* {
  /* System Font (SF Pro) */
  font-family: SF Pro, FontAwesome6Free, SymbolsNerdFont;
  font-size: 11px;
}

#waybar>box {
  background-color: #0B0D0F;
}

#workspaces button {
  margin: 0px 5px;
}

#workspaces button.active {
  background-color: #3b3b3b;
}
