@import "/home/apollo/.cache/wal/colors-waybar.css";

* {
  background-color: transparent;
  font-family:
    SF Pro,
    FontAwesome6Free,
    SymbolsNerdFont;
  font-weight: normal;
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-weight: bold;
}

#waybar>box {
  background-color: @color0;
  padding: 5px 0px;
  margin-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
}

#workspaces,
#window {
  margin-right: 15px;
  color: @color15;
}

#clock {
  color: @color15;
}

#workspaces button {
  padding: 0px 10px;
}

#workspaces button.active {
  color: @color1;
  text-shadow: 0px 0px 6px @color1;
}

#custom-spotify,
#cpu,
#memory,
#battery {
  margin-left: 15px;
  color: @color15;
}
