* {
  /* font-family: "JetBrainsMono Nerd Font"; */
  font-family: "Lilex Nerd Font";
  font-size: 15px;
  background-color: transparent;
  /* font-weight: bold; */
}

#waybar>box {
  /* background-color: #1e1e2e; */
  background-color: #202024;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  color: #f0e8db;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}

.modules-right {
  margin-right: 10px;
}

#workspaces button {
  /* color: #f0e8db; */
  color: #3c3c56;
}

#workspaces button.active {
  /* color: #34f890; */
  color: #c4a7e7;
}
