@import ".cache/wal/colors-waybar.css";

window {
    /*font-family: SF Pro;*/
    font-size: 15px;
    /*background-color: @background;*/
    /*background-color: #000000;*/
    background-color: rgba(0, 0, 0, 0.75);
    border: 1px solid #1f1f20;
    border-radius: 8px;
}

/*#window {*/
/*  background-color: rgba(9, 23, 23, 0.95);*/
/*}*/

#outer-box {
    padding: 15px 15px;
}

#input {
    /*background-color: @color0;*/
    background-color: rgba(9, 23, 23, 0);
    color: white;
    padding: 10px 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: #f2f2f2;
    box-shadow: none;
}

#text:selected {
    /*color: @color0;*/
}

#entry {
    padding: 10px 10px;
    color: #f2f2f2;
}

#entry:selected {
    background-color: #3b3b3b;
    /*background-color: @color6;*/
    border-radius: 4px;
    outline: none;
}

#img {
    margin-right: 50px;
}
