@import ".cache/wal/colors-waybar.css";

window {
  /*font-family: "Cartograph CF";*/
  font-family: SF Pro;
  font-size: 17px;
  /*background-color: rgba(11, 13, 15, 1);*/
  background-color: @background;
  border-radius: 10px;
  border: 1px solid @color2;
}

#outer-box {
  padding: 15px 15px;
}

#input {
  /*background-color: #151515;*/
  background-color: @color0;
  color: white;
  padding: 10px 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: none;
  box-shadow: none;
}

#text:selected {
  color: @color0;
}

#entry {
  padding: 10px 10px;
  color: @color8;
}

#entry:selected {
  /*background-color: #262626;*/
  /*background-color: @color8;*/
  background-color: @color13;
  border-radius: 5px;
  outline: none;
}

#img {
  margin-right: 50px;
}
