   /* ONLY WORKS ON FIREFOX & LIBREWOLF */

   /* Remember to change your theme to anything other than "System theme - auto". */

   /* Minimize Button */

    .titlebar-min {
       border-radius: 0 !important;
       width: 50px !important;
       height: 44px !important;
       padding: 0px !important;
       position: inherit !important;

       > .toolbarbutton-icon {
          border-radius: 0 !important;
          width: 100% !important;
          height: 100% !important;
       }
    }

    /* Maximize Button */

    .titlebar-max {
       border-radius: 0 !important;
       width: 50px !important;
       height: 44px !important;
       padding: 0px !important;
       position: inherit !important;

       > .toolbarbutton-icon {
          border-radius: 0 !important;
          width: 100% !important;
          height: 100% !important;
       }
    }

    /* This button turns the maximized window into a smaller window. */

    .titlebar-restore {
       border-radius: 0 !important;
       width: 50px !important;
       height: 44px !important;
       padding: 0px !important;
       position: inherit !important;

       > .toolbarbutton-icon {
          border-radius: 0 !important;
          width: 100% !important;
          height: 100% !important;
       }
    }

    /* Close Button */

    .titlebar-close {
       border-radius: 0 !important;
       width: 50px !important;
       height: 44px !important;
       padding: 0px !important;
       position: inherit !important;

       > .toolbarbutton-icon {
          width: 100% !important;
          height: 100% !important;
       }
    }

   /* This code bellow is a fix for rounded top window corners. */

   /* If the window is maximized, make the red close background color *not* rounded. */


    :root:is([sizemode=maximized], [sizemode=fullscreen])

    .titlebar-close {
       > .toolbarbutton-icon {
          border-radius: 0 !important;
       }
    }

   /* If the window is *not* minimized, *make* the red close background color rounded because */
   /* side of the window gets rounded but the red background doesn't care. */


    :root:not([sizemode=maximized], [sizemode=fullscreen])

    .titlebar-close {
       > .toolbarbutton-icon {
          border-top-right-radius: 12% !important;
          border-top-left-radius: 0px !important;
          border-bottom-right-radius: 0px !important;
          border-bottom-left-radius: 0px !important;
       }
    }

   /* Empty space on the top left appears for some reason in windowed mode. */
   /* Also adds spacing to the plus icon on the right. */

   .titlebar-spacer[type="pre-tabs"] {
      display:none !important;
   }

   /* It had "absolute" value before and somehow */
   /* because of this bottom of the min-max-close buttons were not properly sized. */

   :root[tabsintitlebar] .titlebar-buttonbox {
      position: revert !important;
      appearance: none !important;
   }

   /* This fix is not related to the min-max-close buttons but */
   /* it fixes the very left corner misalignment. */

   .tabbrowser-tab {
      padding: 0 3px !important;
   }
