@-moz-document url(about:home), url(about:newtab), url(about:privatebrowsing){

.click-target-container *,
.top-sites-list * {
  color: #fff !important;
  text-shadow: 2px 2px 2px #222 !important;
}

body::before {
  content: "";
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  /*background: #f9a no-repeat url(img/anime-cherry.jpeg) center;*/
  background: #f9a no-repeat url(img/painting-ivan.jpg) center;
  /*background-color: #0B0D0F;*/
  /*background-color: #1C1B22;*/
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.logo {
  background-image: url(img/firefox.png) !important;
}

@-moz-document url(about:privatebrowsing){

html.private div.showPrivate div.search-inner-wrapper,
html.private div.showPrivate div.info,
html.private div.showPrivate div.wordmark {
  display: none !important;
}
