[window]
padding.x = 5
padding.y = 5
opacity = 0.95

[font]
size = 12

normal.family = "JetBrains Mono Nerd Font"
italic.family = "JetBrains Mono Nerd Font"
bold.family = "JetBrains Mono Nerd Font"

# normal.family = "monospace"
# italic.family = "monospace"
# bold.family = "monospace"

# normal.family = "Terminess Nerd Font"
# italic.family = "Terminess Nerd Font"
# bold.family = "Terminess Nerd Font"

# normal.family = "Iosevka Nerd Font"
# italic.family = "Iosevka Nerd Font"
# bold.family = "Iosevka Nerd Font"

# normal.family = "Firacode Nerd Font"
# italic.family = "Firacode Nerd Font"
# bold.family = "Firacode Nerd Font"

# normal.family = "Lilex Nerd Font"
# italic.family = "Lilex Nerd Font"
# bold.family = "Lilex Nerd Font"

[colors.primary]
background = "#1e1e2e"
# background = '#282828'
# background = '#101010'
# background = '#151515'
# background = '#040D0C'
# background = '#1B2730'
# background = '#000000'
foreground = "#cdd6f4"
dim_foreground = "#7f849c"
bright_foreground = "#cdd6f4"

[colors.cursor]
text = "#1e1e2e"
cursor = "#f5e0dc"

[colors.vi_mode_cursor]
text = "#1e1e2e"
cursor = "#b4befe"

[colors.search.matches]
foreground = "#1e1e2e"
background = "#a6adc8"

[colors.search.focused_match]
foreground = "#1e1e2e"
background = "#a6e3a1"

[colors.footer_bar]
foreground = "#1e1e2e"
background = "#a6adc8"

[colors.hints.start]
foreground = "#1e1e2e"
background = "#f9e2af"

[colors.hints.end]
foreground = "#1e1e2e"
background = "#a6adc8"

[colors.selection]
text = "#1e1e2e"
background = "#f5e0dc"

[colors.normal]
black = "#45475a"
red = "#f38ba8"
green = "#a6e3a1"
yellow = "#f9e2af"
blue = "#89b4fa"
magenta = "#f5c2e7"
cyan = "#94e2d5"
white = "#bac2de"

[colors.bright]
black = "#585b70"
red = "#f38ba8"
green = "#a6e3a1"
yellow = "#f9e2af"
blue = "#89b4fa"
magenta = "#f5c2e7"
cyan = "#94e2d5"
white = "#a6adc8"

[[colors.indexed_colors]]
index = 16
color = "#fab387"

[[colors.indexed_colors]]
index = 17
color = "#f5e0dc"
